src/main/mule/order-api-spec.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">
    <http:listener-config name="order-api-spec-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
	<sap:outbound-config name="SAP_Connection_Config" doc:name="SAP Outbound" doc:id="c6fd996d-e83a-4496-ae33-726f86db3869" >
		<sap:simple-connection-provider-connection applicationServerHost="${sap.host}" username="${secure::sap.user}" password="${secure::sap.pass}" systemNumber="${sap.sysnr}" client="${sap.client}" language="${sap.lang}" />
	</sap:outbound-config>
	
    <apikit:config name="order-api-spec-config" raml="order-api-spec.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="order-api-spec-main">
        <http:listener config-ref="order-api-spec-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="order-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="efdbe078-6a9a-4459-92b0-6bdd39d0b3c6">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="order-api-spec-console">
        <http:listener config-ref="order-api-spec-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="order-api-spec-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="605e0766-4127-4fec-a9a6-daf672591ae8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders:order-api-spec-config">
		<ee:transform doc:name="Transform Message" doc:id="a711e7b5-7033-466d-85a7-386497800bc4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	meta: {
		messages: [{
			code: "501",
			description: "Method not implemented for this resource"
		}]
	}
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\orders:application\json:order-api-spec-config">
		<ee:transform doc:name="Transform Message" doc:id="37b95963-196c-42c7-9c20-7df9e12b9d04" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
var orderType = {
	pickupItems: "PII",
	shipmentItems: "SHI",
	partnersItems: "PAI"
}
var deliveryMethod = {
	PICKUP: "PI",
	SHIPMENT: "SH"
}
var status = {
	"Draft": "D",
	"Completed": "C",
	"Processing": "P"
}
---
{
	ZSDFM_CREATE_SO_HYBRIS: {
		"import": {
			IS_SALES_ORDER: {
				CUSTOMERID: payload[0].customerId,
				STATUS: status[payload[0].status as String] default "",
				ITEMS: {(
					payload[0].orderItems map (item, i) -> {
						row: {
							ORDERITEMID: item.orderItemId,
							TYPE: "SHI",
							PRODUCTID: item.productId,
							PRODUCTNAME: item.productName,
							LOCATIONID: item.locationId,
							DELIVERYMETHOD: deliveryMethod[item.deliveryMethod as String],
							QUANTITY: item.quantity.ordered
						}
					}
				)}
			}
		}
,
export: {
	EV_SO_CREATED: null
},
export: {
	EV_SO_CREATED: null
}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:execute-synchronous-remote-function-call doc:name="Create Order in SAP" doc:id="f08a1e8f-396b-41a8-ad77-6bb32d53b705" config-ref="SAP_Connection_Config" key="ZSDFM_CREATE_SO_HYBRIS"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="738dc2d9-f35f-4b6b-8f76-6c19b45e744d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
  id: payload.ZSDFM_CREATE_SO_HYBRIS."export".EV_SO_ID
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\orders\(id):order-api-spec-config">
		<ee:transform doc:name="Build BAPI Request" doc:id="bd8117a5-a518-48a8-a39f-e7d2aef6a289">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	ZSDFM_READ_SO_HYBRIS: {
		"import": {
			IV_S_ORDER_ID: attributes.uriParams.id
		}
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sap:execute-synchronous-remote-function-call doc:name="Retrieve Order from SAP" doc:id="bff31c92-ba95-487e-96b1-b814d5c3b1e9" config-ref="SAP_Connection_Config" key="ZSDFM_READ_SO_HYBRIS"/>
		<ee:transform doc:name="Build Response" doc:id="bc092b0e-6ae5-4c1d-a813-64c0e3b8fb84">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var deliveryMethod = {
	PI: "PICKUP",
	SH: "SHIPMENT"
}
var status = {
	D: "Draft",
	C: "Completed",
	P: "Processing"
}
var header = payload.ZSDFM_READ_SO_HYBRIS."export"
---
{
	orderId: header.ES_SO_HEAD.ORDERID,
	price: header.EV_SO_PRICE,
	status: status[header.ES_SO_HEAD.STATUS as String] default "UNKNOWN",
	trackingNumber: header.ES_SO_HEAD.TRACKINGNUMB,
	customerId: header.ES_SO_HEAD.CUSTOMERID,
	orderItems:payload.ZSDFM_READ_SO_HYBRIS.tables.ET_SO_ITEM.*row map (row, i) -> {
		locationId: row.LOCATIONID,
		orderLine: row.ORDERITEMID,
		product: {
			id: row.PRODUCTID,
			name: row.PRODUCTNAME
		},
		quantity: {
			ordered: row.QUANTITY
		}, 
		deliveryMethod: deliveryMethod[row.DELIVERYMETHOD as String] default "",
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="put:\orders\(id):application\json:order-api-spec-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="99d62031-76eb-4d61-8697-87622fa9419b">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
var status = {
	Draft: "D",
	Completed: "C",
	Processing: "P"
}
---
ZSDFM_UPDATE_SO_HYBRIS: {
		"import": {
			IS_SALES_ORDER: {
				STATUS: status[payload.status as String]
			},
			IV_S_ORDER_ID: attributes.uriParams.id
		}
	}


]]></ee:set-payload>
			</ee:message>
        </ee:transform>
        <sap:execute-synchronous-remote-function-call doc:name="Update order in SAP" doc:id="42900298-db68-4c64-bfc7-d85766bb56f5" config-ref="SAP_Connection_Config" key="ZSDFM_UPDATE_SO_HYBRIS"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9684e2af-ea13-4194-8c19-ebebc39fa673">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var deliveryMethod = {
	PI: "PICKUP",
	SH: "SHIPMENT"
}
var status = {
	D: "Draft",
	C: "Completed",
	P: "Processing"
}
var header = payload.ZSDFM_UPDATE_SO_HYBRIS."export"
---
{
	EV_MESSAGE: header.EV_MESSAGE,
	EV_SO_NOT_UPDATED: header.EV_SO_NOT_UPDATED,
	EV_SO_UPDATED: header.EV_SO_UPDATED
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<choice doc:name="Choice" doc:id="cb8fc5d3-09f0-4d25-95f5-2c2db118cc11" >
			<when expression='#[payload.EV_SO_UPDATED == "X"]' >
				<set-payload value='{  "message": "Order was updated" }' doc:name="Set Payload" doc:id="2bfd1d29-fd25-42fb-bd2f-28325e850e7a" />
			</when>
			<when expression='#[payload.EV_SO_NOT_UPDATED == "X"]' >
				<set-variable value="400" doc:name="http error status" doc:id="3db7633e-c24a-4277-991f-efc816d36555" variableName="httpStatus"/>
				<set-payload value='{  "message": "Bad Request" }' doc:name="Set Payload" doc:id="5631fc74-73f7-499e-8424-aefd39238c15" />
			</when>
			<otherwise >
				<set-variable value="404" doc:name="http error status" doc:id="bd063ab0-f704-49ba-bef8-505ca43ef7be" variableName="httpStatus" />
				<set-payload value='{  "message": "Order not found" }' doc:name="Set Payload" doc:id="02137ba4-7675-491a-b4d2-91f194e08981" />
			</otherwise>
		</choice>
    </flow>
	<flow name="delete:\orders\(id):order-api-spec-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="b4c6746a-6db6-4600-ab20-b0e43d086abf">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	ZSDFM_DELETE_SO_HYBRIS: {
		"import": {
			IV_S_ORDER_ID: attributes.uriParams.id
		}
	}
}]]></ee:set-payload>
			</ee:message>
</ee:transform>
        <sap:execute-synchronous-remote-function-call doc:name="Delete order from SAP" doc:id="b4d9b9f4-a3af-44f5-8a26-7103e041d1e6" config-ref="SAP_Connection_Config" key="ZSDFM_DELETE_SO_HYBRIS"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7c8999d1-4d7d-4fa2-85a9-65b6d6e333c2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var header = payload.ZSDFM_DELETE_SO_HYBRIS."export"
---
{
	EV_MESSAGE: header.EV_MESSAGE,
	EV_SO_NOT_DELETED: header.EV_SO_NOT_DELETED,
	EV_SO_DELETED: header.EV_SO_DELETED
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <choice doc:name="Choice" doc:id="cb8fc5d3-09f0-4d25-95f5-2c2db118cc11" >
			<when expression='#[payload.EV_SO_DELETED == "X"]' >
				<set-payload value='{  "message": "Order was deleted" }' doc:name="Set Payload" doc:id="2bfd1d29-fd25-42fb-bd2f-28325e850e7a" />
			</when>
			<when expression='#[payload.EV_SO_NOT_DELETED == "X"]' >
				<set-variable value="400" doc:name="http error status" doc:id="3db7633e-c24a-4277-991f-efc816d36555" variableName="httpStatus"/>
				<set-payload value='{  "message": "Bad Request" }' doc:name="Set Payload" doc:id="5631fc74-73f7-499e-8424-aefd39238c15" />
			</when>
			<otherwise >
				<set-variable value="404" doc:name="http error status" doc:id="bd063ab0-f704-49ba-bef8-505ca43ef7be" variableName="httpStatus" />
				<set-payload value='{  "message": "Order not found" }' doc:name="Set Payload" doc:id="02137ba4-7675-491a-b4d2-91f194e08981" />
			</otherwise>
		</choice>
    </flow>
</mule>
